@import url("style.css");


/*Menu*/
.MenuHamburguer {
    position: relative;
}

.botaoBurguer{
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.botaoBurguer img {
    width: 32px; 
    display: block;
}

.ListaMenu {
    display: none;
    position: absolute;
    top: 100%; 
    right: 0; 
    
    background-color: var(--RoxoMedio);
    padding: 20px;
    width: 200px;
    border-radius: 0 0 8px 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    
    flex-direction: column; 
    gap: 15px;
    z-index: 1000; 
}

.ListaMenu.aberto {
    display: flex; 
}

.ListaMenu li{
    list-style: none;
}

.ListaMenu li a {
    color: var(--Branco);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    display: block;
    padding: 5px 0;
}

.ListaMenu li a:hover {
    color: var(--RoxoPastel);
}


.CardLivro {
    background: linear-gradient(
        180deg,
        var(--RoxoPastel),
        var(--Branco)
    );

    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.ImagemLivro {
    height: 200px;
    background-color: var(--CinzaClaro);
    border-radius: 12px;
    margin-bottom: 16px;
}

.InfoLivro {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.TituloLivro {
    font-size: 1.1rem;
    font-weight: bold;
}

.AutorLivro {
    font-size: 0.9rem;
    color: #6b7280;
}

.StatusLivro {
    align-self: flex-start;
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 0.75rem;
    font-weight: bold;
}

/* STATUS */
.StatusLendo {
    background-color: #dbeafe;
    color: #1e40af;
}

.StatusLido {
    background-color: #dcfce7;
    color: #14532d;
}

.StatusQueroLer {
    background-color: #cdc89b;
    color: #dfe620;
}
