/* aquela limpeza geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis de cor do LiterArte */
:root {
    --RoxoEscuro: #4a148c;
    --RoxoMedio: #6a1b9a;
    --RoxoClaro: #9c27b0;
    --RoxoPastel: #f3e5f5;

    --CinzaTexto: #374151;
    --CinzaClaro: #e5e7eb;
    --Branco: #ffffff;
}

/* Global*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--RoxoPastel);
    color: var(--CinzaTexto);
}

/* Cabeçalho */
.CabecalhoPrincipal {
    background: linear-gradient(90deg, var(--RoxoEscuro), var(--RoxoMedio));
    color: var(--Branco);
    padding: 16px 32px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.LogoSite  {
    font-family: Georgia, serif;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    color: var(--Branco);
    text-decoration: none;
}


.LogoSite:hover {
    opacity: 0.9;
}


/*Menu*/
.MenuHamburguer .ListaMenu {
    list-style: none;
    display: flex;
    gap: 24px;
}

.MenuHamburguer a {
    text-decoration: none;
    color: var(--Branco);
    font-weight: 600;
}

.MenuHamburguer a:hover {
    text-decoration: underline;
}

/* conteúdo */
.ConteudoPrincipal {
    padding: 40px 32px;
}

/* Frase diária*/
.SecaoFraseDiaria {
    background: linear-gradient(90deg, var(--RoxoClaro), var(--RoxoMedio));
    color: var(--Branco);
    padding: 32px;
    border-radius: 12px;
    margin-bottom: 48px;
}

.FraseLiteraria {
    font-family: Georgia, serif;
    font-size: 1.25rem;
    text-align: center;
}

/*Livros*/
.TituloSecao {
    font-size: 1.75rem;
    margin-bottom: 24px;
}

.ListaLivros {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 24px;
}

/* Rodapé*/
.RodapePrincipal {
    background-color: var(--RoxoPastel);
    color: var(--RoxoMedio);
    text-align: center;
    padding: 16px;
    margin-top: 48px;
}
