{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>LiterArte | Minha Lista</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/minha-lista.css' %}"> 
    <link rel="icon" href="{% static 'icones/favicon/favicon.ico' %}" type="image/x-icon">
</head>
<body>

    <header class="CabecalhoPrincipal">
        <div class="LogoSite"><a href="{% url 'index' %}" class="LogoSite">LiterArte</a></div>
        
        <nav class="MenuHamburguer">
             <ul class="ListaMenu">
                <li><a href="{% url 'index' %}">Início</a></li>
                <li><a href="{% url 'meu_perfil' %}">Meu Perfil</a></li>
                <li><a href="{% url 'minha_lista' %}">Minha Lista</a></li>
                <li><a href="{% url 'logout' %}">Sair</a></li>
            </ul>
        </nav>
    </header>

    <main class="ConteudoPrincipal">
        <section class="SecaoLivros">
            <h2 class="TituloSecao">Minha Lista de Leitura</h2>

            <div class="ListaLivros">
                
                {% for item in itens %}
                <article class="CardLivro">
                    <div class="ImagemLivro">
                        <a href="{% url 'detalhe_livro' item.livro.id %}"> 
                            {% if item.livro.capa %}
                                <img src="{{ item.livro.capa.url }}" alt="{{ item.livro.titulo }}">
                            {% else %}
                                <img src="{% static 'img/capa_padrao.png' %}">
                            {% endif %}
                        </a>
                    </div>

                    <div class="InfoLivro">
                        <h2 class="TituloLivro">{{ item.livro.titulo }}</h2>
                        <p class="AutorLivro">{{ item.livro.autor.nome }}</p>
                        
                        <span class="status-badge status-{{ item.status }}">
                            {{ item.get_status_display }}
                        </span>
                    </div>
                </article>
                
                {% empty %}
                <div class="lista-vazia">
                    <p>Sua lista está vazia!</p>
                    <a href="{% url 'index' %}" class="btn-voltar">Explorar livros</a>
                </div>
                {% endfor %}

            </div>
        </section>
    </main>

    <footer class="RodapePrincipal">
        <p>© 2026 — LiterArte</p>
    </footer>

</body>
</html>